<body>
<h1>OkCoin Profit Calculator</h1>

<div id="okcoinProfit">
  <p>
    Open @ <input v-model="openPrice">
    &nbsp;
    Close @ <input v-model="closePrice">
    &nbsp;
    Cont <input v-model="contracts">

  <input type="radio" id="long" value="long" v-model="picked">
  <label for="long"><span class="radio">Long</span></label>
  &nbsp;
  <input type="radio" id="short" value="short" v-model="picked">
  <label for="short"><span class="radio">Short</span></label>
  </p>

  <div v-bind:class="{ red: isNegative }" class="green">
    <code>{{ btcProfit | bitcoins }}</code>
  </div>
  &nbsp;
  <div v-bind:class="{ red: isNegative }" class="green">
    <code>{{ usdProfit | dollars }}</code>
  </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">
Vue.filter('dollars', function (value) {
    return '$ ' + value.toFixed(2);
});
Vue.filter('bitcoins', function (value) {
    return 'BTC ' + value.toFixed(2);
});
var app = new Vue({
  el: '#okcoinProfit',
  data: {
    openPrice: '1200',
    closePrice: '800',
    contracts: '600',
    picked: 'short',
    isNegative: false,
  },
  computed: {
    btcProfit: function () {
      fin = (100/this.openPrice - 100/this.closePrice)*this.contracts
      if (this.picked == 'short') {
        fin = -1*fin
      }
      if (fin<=0) {
        this.isNegative = true
      } else {
        this.isNegative = false
      }
      return fin
    },
    usdProfit: function () {
      fin = (100/this.openPrice - 100/this.closePrice)*this.contracts*this.closePrice
      if (this.picked == 'short') {
        fin = -1*fin
      }
      return fin
    }

  }
})
</script>

<style media="screen">
  
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
  
body { background: #f4f4f4 }
h1 {
    text-align: center;
    text-transform: uppercase;
    background: #ff4136;
    padding: 1rem;
    max-width: 50%;
    margin: 0 auto;
    color: white;
    margin-bottom: 3rem;
    margin-top: 6rem;
 }
  
#okcoinProfit {
  max-width: 50%;
  margin: 0 auto;
}

#okcoinProfit,
#okcoinProfit>div,
#okcoinProfit>p,
#okcoinProfit>div>strong  {font-family: 'Work Sans', sans-serif;}
#okcoinProfit>div {float:right;width:150px}
label, legend {display: inline;}
input { width: 60px;}
input[type="radio"] {width: auto;}

.red {color: #FF4136 !important}
.green {color: #39CCCC}

input[type="radio"]{
  display: none;
}
/* Base styles for spans */
span {
  position: relative;
  float: left;
  margin-right: 20px;
}
span::before,span::after {
  content: '';
    position: relative;
    top: -4px;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    display: block;
    width: auto;
    float: left;
}

/* Radio buttons */
 span.radio:hover {
  cursor: pointer;
}
 span.radio::before {
     width: 45px;
     height: 25px;
     background-color: #e1e1e1;
     border-radius: 50px;
}
 span.radio::after {
  left: -40px;
  top: 0;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #ccc;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
    left: -21px;
    background-color: #ff4136;
    top: 0;
}
</style>
</body>
